// Create config.go file in your /utils directory

package utils

const (
	DBUrl            = "localhost:27017" // default port for mongos
	DBName           = "test"            // all defaults
	DBCollectionName = "test"
	AESKey		 = "key1235123124"
)
